{% load static %}

<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>AIフィクションズ</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/app.css' %}">
    </head>
    <body>
        <header>
            <div class="page-header">
              {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus">作品投稿</span></a>
              {% endif %}
              <h1><a href="/">AIフィクションズ</a></h1>
            </div>
        </header>
        <nav class="navbar">
            <div><a href="/">ホーム</a></div>
            <div>ブックマーク</div>
            <div>閲覧履歴</div>
            <div>ランキング</div>
            <div>
              <form class="d-flex" action="{% url 'search' %}" method="get">
                <input name="q" class="form-control me-2" type="search" placeholder="search" aria-label="search">
                <button class="btn btn-outline-primary" type="submit">作品検索</button>
              </form>
            </div>
            <div>
              <a href="{% url 'notice' %}">お知らせ</a>
            </div>
            {% if user.is_authenticated %}
              <div>{{ user.username }}さんがログイン中です</div>
              <a href="{% url 'logout' %}">ログアウト</a>
              <div><a href="{% url 'user' %}">マイページ</a></div>
            {% else %}
              <div><a href="{% url 'login' %}">ログイン</a></div>
              <div><a href="{% url 'signup' %}">新規登録</a></div>
            {% endif %}
            <div><a href="{% url 'other' %}">他のユーザー</a></div>
            <br>
            <div>
              <p>カテゴリー</p>
              {% for category in category_list %}
                <a href="{% url 'category' category %}">
                  <p style='float: left; margin-right: 5px;'>
                    {{ category.name }}
                  </p>
                </a>
            </div>
            {% endfor %}
            <br><br>
            {% if category %}
              <h3>カテゴリー:{{ category }}</h3>
            {% endif %}
        </nav>   

        <main>
            <div class="content container">
                <div class="row">
                    <div class="col-md-8">
                      {% block content %}
                      {% endblock %}
                    </div>
                </div>
            </div>
        </main>
        
        <footer>
            <div>このサイトについて</div>
            <div>
              <a href="{% url 'terms' %}">
                利用規約
              </a>
            </div>
            <div>ヘルプ</div>
        </footer>
    </body>
</html>