{% extends 'app/base.html' %}

{% block content %}
  <h2>お知らせ</h2>
  <p>お知らせ内検索</p>
  <div>
    <form class="d-flex" action="{% url 'notice_search' %}" method="get">
      <input name="q" class="form-control me-2" type="search" placeholder="search" aria-label="search">
      <button class="btn btn-outline-primary" type="submit">検索</button>
    </form>
  </div>
    {% for post in posts %}
        {% if post.status == "published" or user.is_superuser %}
            <div class="post">
                <div class="date">
                    <p>updated: {{ post.updated_date }}</p>
                </div>
                <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}