{% extends 'app/base.html' %}

{% block content %}
    <div class="post">
      {% if post.published_date %}
        <div class="date">
          <p>created: {{ post.created_date }}</p>
          <p>published: {{ post.published_date }}</p>
          <p>updated: {{ post.updated_date }}</p>
        </div>
      {% endif %}
      {% if user.is_superuser or post.sakusya == user.username %}
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <form method="POST" action="{% url 'delete_post' pk=post.pk %}">
          {% csrf_token %}
          <button class="btn" type="submit" onclick='return confirm("本当に削除しますか？");'>削除</button>
        </form>
      {% endif %}
      <h2>{{ post.title }}</h2>
      <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endblock %}